<:Title>
  Macro Tracker | 2016

<:Body>

  <h3>1. Shift our focus to diet or training based on our goal.</h3>

  <p>We can’t say that one is more important than the other, as in the long-term both are of critical importance. However, if you’ve been struggling with your muscle growth or fat loss goals, it’s likely that you’ve been messing up the emphasis.

  Looking to gain muscle?  Getting your training right should be your priority as that is what will drive the adaptations. Your nutrition set up is permissive in this case – meaning that it is what will allow you to grow, given the right training stimulus.

  Looking to burn fat? – Training is of secondary importance, the primary function being to help you maintain muscle mass. Your nutrition set up will drive the changes.

  If you’re looking for both then we need to get both our diet and training programs in sync. We can certainly do that.</p>

  <h3>2. Simplify things as much as possible.</h3>

  <p>This makes everything easier to adhere to, and allows scope for additional work or complication later on when it may be necessary.

  With the training we will focus on getting stronger, because when we chase strength we can’t help but get bigger also, and then we have a clear and objective measure of progress.

  With the diet we’ll reduce meal frequency as much as possible. This makes it possible to eat bigger meals and yet still feel full and satisfied most of the time while losing weight, and whether cutting or bulking it simplifies our meal planning immensely.</p>

  <h3>3. Eat more food when we need it.</h3>

  <p>We’ll eat more carbs on the days you weight train for recovery; less on those you rest. On training days you’ll eat more of your calorie intake after training than before.</p>

  <br>

  <p>Use Macro Tracker to avoid the guess work!</p>
